*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  inline-size: 100%;
  block-size: 100dvh;
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding-block: 10dvh;
  block-size: 100dvh;
}

#app {
  inline-size: 100%;
  block-size: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
}

img {
  inline-size: 100%;
  block-size: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}