@font-face {
  font-family: 'FingerPaint';
  src: local('Finger Paint Regular'), local('FingerPaint-Regular'),
      url('/src/assets/fonts/FingerPaint-Regular.woff2') format('woff2'),
      url('/src/assets/fonts/FingerPaint-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
